<div class="discover-movies-component">
  <h2>Discover movies</h2>
  <ul>
    <li *ngFor="let moviePage$ of moviePages" class="page">
      <ul>
        <li *ngFor="let movie of moviePage$ | async" class="row">
          <a href="#">
            {{movie.release_date}}
            {{movie.title}}
          </a>
          <app-add-to-watchlist [movieId]="movie.id"></app-add-to-watchlist>
        </li>
      </ul>
    </li>
    <li>
      <button (click)="onShowMoreClick()">Show more</button>
    </li>
  </ul>
</div>
